*{
    margin: 0px;
    padding: 0px;
}
.head{
    float: left;
    margin-top: 3%;
    margin-left: 20%;
    font-family: cursive;
}
#logo{
    display: inline;
    margin-left: 50%;
}
#header{
    margin-top: 5px;
    width: 100%; 
    height: 50px;
    background-color: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#Navbar{
    width: 1500px;
}
#Navbar> li {
    width: 12%;
    list-style: none;
    float: left;  
    text-align: center;
}
li > a{
    margin-top: 10%;
    margin-left: 25%; 
    display: inline-block;
    color: black;
    text-align: center;
    font-family: cursive; 
    font-size: 15px;
    text-decoration: none;
    width: 135px;
}
li > a:hover{
    background: gray;
}
#video{
    margin-top: 5%;
    margin-left: 20%;
}